# Dependency directories
node_modules/

# Gatsby build output
.cache/
public

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Env
.env.development
.env.production

# MacOS
.DS_Store