.stickerButton {
  align-items: center;
  background-color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
  display: flex;
  gap: var(--space-2);
  padding: var(--space-3) var(--space-4);
  transition: all 80ms;

  &:hover {
    background-color: var(--color-misc-cream-light);
    border-color: var(--color-misc-cream-light);
  }
}

.info {
  color: var(--color-neutral-3);
  font-size: var(--font-p-sm);
  line-height: var(--line-height-dense);
  text-align: left;
}

.infoPrimary {
  font-weight: 700;
}

.icon {
  align-items: center;
  display: flex;
}
